<!DOCTYPE html>
<html>
<head>
    <title>MiniSubmit</title>
</head>
<body>
    <form action="/" method="post">
        <label for="input">What is the best intro systems course?</label>
        <input type="text" id="input" name="input" required>
        <button type="submit">Submit</button>
    </form>
    <p>{{message}}</p>
</body>
</html>